{% extends 'base.html' %}

{% block content %}
  <h1>Home</h1>

  {% if user.is_authenticated %}
  <p>Hi {{ user.username }}!</p>
  {% else %}
  <p>You are not logged in.</p>
  {% endif %}

  <hr>
{% endblock %}
