{% extends 'base.html' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Chat Rooms</h1>
    </div>
    <div class="panel-body form-group">
        What chat room would you like to enter or create? <br />
        <input id="room-name-input" type="text" class="form-control" /><br />
        <input id="room-name-submit" type="button" class="btn btn-info" value="Enter" />

        <hr>
        {% if rooms %}
        <p>Available rooms
            <span class="pull-right">
                <a href="{% url 'index' %}?sort=name">Sort by name</a> |
                <a href="{% url 'index' %}?sort=message">Sort by messages</a>
            </span>
        </p>
        <ul class="list-group">
            {% for room in rooms %}
            <li class="list-group-item">
                <a href="{% url 'room' room.title%}">
                    {{ room.title }} <span class="badge pull-right">{{ room.room_message.count }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No available rooms. Let's create a new room name!</p>
        {% endif %}
    </div>
</div>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function (e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>
{% endblock %}
