{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>{{ room_name }}</h1>
    </div>
    <div class="panel-body form-group">
        <textarea id="chat-log" class="form-control" rows="20"></textarea><br/>
        <input id="chat-message-input" type="text" class="form-control"/><br/>
        <input id="chat-message-submit" type="button" class="btn btn-info" value="Send"/>
    </div>
</div>
<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script>
    var roomName = {{ room_name_json }};
    var userName = {{ user_name_json }};
    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/');
    chatSocket.onmessage = function (e) {
        var data = JSON.parse(e.data);
        var message;
        if (data['command'] === 'messages') {
            for (let i=0; i<data['messages'].length; i++) {
                message = data['messages'][i]['content'];
                document.querySelector('#chat-log').value += (message + '\n');
            }
        } else if (data['command'] === 'new_message'){
            message = data['message']['content'];
            document.querySelector('#chat-log').value += (message + '\n');
        }
        //var message = data['message']['content'];
        //document.querySelector('#chat-log').value += (message + '\n');
    };
    chatSocket.onopen = function(e) {
        fetchMessages();
    };
    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = userName + ': ' + messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'command': 'new_message',
            'from': userName,
        }));
        messageInputDom.value = '';
    };
    function fetchMessages() {
        chatSocket.send(JSON.stringify({
            'command': 'fetch_messages'
        }))
    }
</script>
{% endblock %}
