{% extends 'base.html' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Change password</h1>
    </div>

  <div class='panel-body form-group'>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>
{% endblock %}
