<html lang="ja">

<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- add this for mobile device compatibility -->
  <title>NotSlack</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">
          NotSlack
        </a>
      </div>
  </nav>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class='col-md-4 col-md-offset-4'>
        <h1>Login</h1>
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-md-center">
      <div class='col-md-2 col-md-offset-4'><a class="btn btn-warning btn-block" role="button" href="{% url 'password_reset'%}">Forgot
          your password?</a></div>
      <div class='col-md-2'><a class="btn btn-success btn-block" role="button" href="{% url 'signup' %}">Sign up</a></div>
    </div>
    <br>
    <div class="row justify-content-md-center">
      <div class='col-md-4 col-md-offset-4'>
        <p class="text-center">Login with</p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class='col-md-4 col-md-offset-4'>
        <a class="btn btn-info btn-block" role="button" href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class='col-md-4 col-md-offset-4'>
        <a class="btn btn-info btn-block" role="button" href="{% url 'social:begin' 'github' %}">GitHub</a>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class='col-md-4 col-md-offset-4'>
        <a class="btn btn-info btn-block" role="button" href="{% url 'social:begin' 'twitter' %}">Twitter</a>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class='col-md-4 col-md-offset-4'>
        <a class="btn btn-info btn-block" role="button" href="{% url 'social:begin' 'facebook' %}">Facebook</a>
      </div>
    </div>
  </div>

</body>

</html>
