{% extends 'base.html' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Profile
            <span class="pull-right">
                <a href="{% url 'edit_profile' %}" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
            </span>
        </h1>
    </div>
    <div class="panel-body form-group">
        <p>Username: {{ user.username }}</p>
        <p>First Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Joined from: {{ user.date_joined }}</p>
        <p>Last login: {{ user.last_login }}</p>
    </div>
</div>
{% endblock %}
