{% extends 'base.html' %}

{% block content%}
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Sign up</h1>
  </div>

  <div class='panel-body form-group'>
    {% if form.errors %}
    <p>Some information is not correct. Please try again.</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>
</div>
{% endblock %}
