<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- add this for mobile device compatibility -->
  <title>NotSlack</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home' %}">
          NotSlack
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">Let's chat!</a></li>
      </ul>
      {% if user.is_authenticated %}
      <div class="dropdown" style="float: right">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> {{ user.username }}
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'view_profile' %}">View profile</a></li>
          <li><a class="dropdown-item" href="{% url 'change_password' %}">Change password</a></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
      {% else %}
      <ul class="nav navbar-nav" style="float: right">
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign up</a></li>
      </ul>
      {% endif %}
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>
